<h2>{{ title }}</h2>
<form #myForm="ngForm" (ngSubmit)="onSubmit(place.value, drink.value, +matslider.value, tattoo.value, journal.value, bedroom.value)">
    <mat-card>
        <h3>If you could be anywhere right now, where would you be?</h3>
        <mat-button-toggle-group #place="matButtonToggleGroup">
            <mat-button-toggle type="button" value=1><img src="..\assets\images\coffeeshop.png">at a coffee shop</mat-button-toggle>
            <mat-button-toggle type="button" value=2><img src="..\assets\images\driving.png">driving with the windows down</mat-button-toggle>
            <mat-button-toggle type="button" value=3><img src="..\assets\images\nature.png">one with nature</mat-button-toggle>
            <mat-button-toggle type="button" value=4><img src="..\assets\images\club.png">at a club</mat-button-toggle>
        </mat-button-toggle-group>
    </mat-card>
    <br>
    <mat-card>
        <h3>Which beverage would quench your thirst at this very moment?</h3>
        <mat-button-toggle-group #drink="matButtonToggleGroup">
            <mat-button-toggle type="button" value=1><img src="..\assets\images\tea.png">hot tea</mat-button-toggle>
            <mat-button-toggle type="button" value=2><img src="..\assets\images\caprisun.png">caprisun</mat-button-toggle>
            <mat-button-toggle type="button" value=3><img src="..\assets\images\icedcoffee.png">iced coffee</mat-button-toggle>
            <mat-button-toggle type="button" value=4><img src="..\assets\images\energy.png">energy drink</mat-button-toggle>
        </mat-button-toggle-group>
    </mat-card>
    <br>
    <mat-card>
        <h3>If you were to host a dinner party right now, how many people would you invite?</h3>
        <mat-slider
            class="example-margin"
            [disabled]="disabled"
            [max]="max"
            [min]="min"
            [step]="step"
            [discrete]="thumbLabel"
            [showTickMarks]="showTicks">
        <input type="range" matSliderThumb #matslider>
        </mat-slider>
    </mat-card>
    <br>
    <mat-card>
        <h3>Which tattoo speaks to your soul?</h3>
        <mat-button-toggle-group #tattoo="matButtonToggleGroup">
            <mat-button-toggle type="button" value=1><img src="..\assets\images\koi.png"></mat-button-toggle>
            <mat-button-toggle type="button" value=2><img src="..\assets\images\heart.png"></mat-button-toggle>
            <mat-button-toggle type="button" value=3><img src="..\assets\images\face.png"></mat-button-toggle>
            <mat-button-toggle type="button" value=4><img src="..\assets\images\angel.png"></mat-button-toggle>
        </mat-button-toggle-group>
    </mat-card>
    <br>
    <mat-card>
        <h3>Which would you use to document your life?</h3>
        <mat-button-toggle-group #journal="matButtonToggleGroup">
            <mat-button-toggle type="button" value=1><img src="..\assets\images\journal.png">a journal</mat-button-toggle>
            <mat-button-toggle type="button" value=2><img src="..\assets\images\ipad.png">my ipad</mat-button-toggle>
            <mat-button-toggle type="button" value=3><img src="..\assets\images\quill.png">quill and ink</mat-button-toggle>
            <mat-button-toggle type="button" value=4><img src="..\assets\images\notesapp.png">my notes app</mat-button-toggle>
        </mat-button-toggle-group>
    </mat-card>
    <br>
    <mat-card>
        <h3>What does your dream bedroom look like?</h3>
        <mat-button-toggle-group #bedroom="matButtonToggleGroup">
            <mat-button-toggle type="button" value=1><img src="..\assets\images\posters.png"></mat-button-toggle>
            <mat-button-toggle type="button" value=2><img src="..\assets\images\colorful.png"></mat-button-toggle>
            <mat-button-toggle type="button" value=3><img src="..\assets\images\blackwhite.png"></mat-button-toggle>
            <mat-button-toggle type="button" value=4><img src="..\assets\images\colors.png"></mat-button-toggle>
        </mat-button-toggle-group>
    </mat-card>
    <br>
    <p>
        <button mat-flat-button id="submit" color="accent" type="submit">Submit</button>
    </p>
</form>